{% extends "barra_menu.html" %}
{% block contenedor %}
<div class="container my-5">
    <h1 class="text-center text-success">ACTUALIZAR EMPLEADO</h1>
    <form method='POST' action='/logica_actualizar_empleado/'> {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="identificacion" class="form-label">IDENTIFICACION</label>
                <input type="text" class="form-control" id="TxtIdentificacion" name="TxtIdentificacion" value="{{ actualizar_empleado.Id_Empleado }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="TxtNombre" name="TxtNombre" value="{{ actualizar_empleado.Nombre_Empleado }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="categoria" class="form-label">CARGO</label>
                <input type="text" class="form-control" id="TxtCargo" name="TxtCargo" value="{{ actualizar_empleado.Cargo_Empleado }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="mesa" class="form-label">N.TELEFONICO</label>
                <input type="text" class="form-control" id="TxtTelefonico" name="TxtTelefonico" value="{{ actualizar_empleado.Numero_Empleado }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fecha" class="form-label">UBICACION</label>
                <input type="text" class="form-control" id="TxtUbicacion" name="TxtUbicacion" value="{{ actualizar_empleado.Ubicacion_Empleado }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="hora" class="form-label">CORREO</label>
                <input type="text" class="form-control" id="TxtCorreo" name="TxtCorreo" value="{{ actualizar_empleado.Correo_Empleado }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="hora" class="form-label">T.CONTRATO</label>
                <input type="text" class="form-control" id="TxtContrato" name="TxtContrato" value="{{ actualizar_empleado.Tiempo_Contrato_Empleado }}" required>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">ACTUALIZAR PEDIDO</button>
        </div>
    </form>
</div>

{% endblock contenedor %}
