{% extends "barra_menu.html" %}
{% block contenedor %}
<div class="container my-5">
    <h1 class="text-center text-success">REGISTRAR VENTAS</h1>
    <form method='POST' action='/logica_registrar_ventas/'> {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="identificacion" class="form-label">IDENTIFICACION</label>
                <input type="text" class="form-control" id="TxtIdentificacion" name="TxtIdentificacion" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="TxtNombre" name="TxtNombre" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="categoria" class="form-label">MESA</label>
                <input type="text" class="form-control" id="TxtMesa" name="TxtMesa" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="mesa" class="form-label">MONTO PAGO</label>
                <input type="text" class="form-control" id="TxtMonto" name="TxtMonto" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fecha" class="form-label">METODO PAGO</label>
                <input type="text" class="form-control" id="TxtMetodo" name="TxtMetodo" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="hora" class="form-label">FECHA</label>
                <input type="date" class="form-control" id="TxtFecha" name="TxtFecha" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="hora" class="form-label">HORA</label>
                <input type="time" class="form-control" id="TxtHora" name="TxtHora" required>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">REGISTRAR PEDIDO</button>
        </div>
    </form>
</div>

{% endblock contenedor %}
