{% extends "barra_menu.html" %}
{% block contenedor %}
<div class="container my-5">
    <h1 class="text-center text-success">TABLA REGISTRO PEDIDO</h1>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered align-middle">
            <thead class="table-success text-center text-nowrap">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">MESA</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">HORA</th>
                    <th scope="col">ELIMINAR</th>
                    <th scope="col">EDITAR</th>
                </tr>
            </thead>
            <tbody>
                {% for x in pedido %}
                    <tr>
                        <td scope="row">{{ x.Id_Pedido }}</td>
                        <td scope="row">{{ x.Nombre_Pedido }}</td>
                        <td scope="row">{{ x.Categoria_Pedido }}</td>
                        <td scope="row">{{ x.Mesa_Pedido }}</td>
                        <td scope="row">{{ x.Fecha_Pedido }}</td>
                        <td scope="row">{{ x.Hora_Pedido }}</td>
                        <td scope="row"><a href="logica_eliminar_pedido/{{ x.Id_Pedido }}" class="btn btn-danger btn-sm w-100">ELIMINAR</a></td>
                        <td scope="row"><a href="enlace_actualizar_pedido/{{ x.Id_Pedido }}" class="btn btn-warning btn-sm w-100">EDITAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenedor %}
